/* article {
position: relative;
display: inline-block;
}

img {
    display: block;
}

h1 {
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

    color: blueviolet;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    opacity: 0;
}

article:hover h1 {
    opacity: 1;
}  */

 /* h1:hover {
    opacity: 1;
} */

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 120px ;
    background-color: chartreuse;
} 


body {
    margin: 0;
    /* padding-top: 80px; */
}